apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: arel
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 3
  selector:
    matchLabels: 
      app: frontend
  template:
    metadata:
      name: frontend-pod
      labels:
        app: frontend
    containers:
    - name: arel-frontend
      image: aalmacin/arel-frontend:latest
      ports:
      - containerPort: 3000
